.site-header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  top: 0;
  z-index: 5;
}

.header__wrapper {
  position: relative;
  padding-top: 14px;
  padding-bottom: 44px;
}


.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__contact {
  display: block;
  text-decoration: none;
  color: $text-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  padding-left: 32px;
  position: relative;
}

.header__contact:hover {
  opacity: 0.8;
}

.header__contact:active {
  opacity: 0.6;
}


.header__before::before {
  content: "";
  width: 29px;
  height: 29px;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
}

.header__contact::before {
  background-image: url("../img/phone.png");
}

.contact-nomber {
  display: block;
  text-decoration: none;
  color: $text-color;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}

.logo-link:hover {
  opacity: 0.8;
}

.logo-link:active {
  opacity: 0.6;
}

.operating-time {
  padding-left: 32px;
  position: relative;
}

.operating-time::before {
  background-image: url("../img/clock.png");
}

.open-now {
  color: #00B007;
  font-weight: 500;
  display: block;
}

.closing-time {
  font-weight: 300;
  color: $text-color;
}

// media 

@mixin bg-res {
  .operating-time::before {
    background-image: url("../img/clock@2x.png");
  }

  .header__contact::before {
    background-image: url("../img/phone@2x.png");
  }
}

@media only screen and (max-width: 1024px) {
  .header__top {
    display: none;
  }

  .header__wrapper {
    padding: 0;
  }
}