.site-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  // height: 100%;
}

.intro-top__text-wrapper {
  position: absolute;
  z-index: 2;
  top: 280px;
  left: calc(50% - 320px);
  transform: translateX(-50%);
  max-width: 543px;
}

.intro-top__text {
  font-size: 18px;
  line-height: 21px;
  margin-top: 0;
  margin-bottom: 10px;
  display: inline-block;
}

.intro-top__heading {
  font-size: 48px;
  line-height: 56px;
  text-transform: uppercase;
  margin-top: 0;
}

.blue-button {
  display: block;
  text-decoration: none;
  color: #fff;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: $main-link-color;
  text-align: center;
  border-radius: $b-radus;
  font-size: 18px;
  line-height: 21px;
}

.intro__link {
  width: 265px;
  margin-bottom: 136px;
}

.intro__button {
  background-color: #FFD600;
  border-radius: $b-radus;
  border: none;
  padding: 30px;
  outline: none;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.intro__button-left {
  background-image: url("../img/intro-btm-left.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.intro__button-right {
  background-image: url("../img/intro-btm-right.png");
  background-repeat: no-repeat;
  background-position: center center;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  .intro__button-left {
    background-image: url("../img/intro-btm-left@2x.png");
  }
  
  .intro__button-right {
    background-image: url("../img/intro-btm-right@2x.png");
  }
}