.intro__top {
  background-image: url("../../img/intro-bg.jpg");
  padding-top: 310px;
  background-repeat: no-repeat;
  background-position: 50% center;
  position: relative;
}

.intro__text {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 21px;
  color: $text-color;
}

.intro__heading {
  font-size: 48px;
  line-height: 56px;
  text-transform: uppercase;
  max-width: 540px;
  margin-top: 0;
  margin-bottom: 27px;
}

.blue-button {
  display: block;
  background-color: $main-link-color;
  text-align: center;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: $b-radus;
}

.intro__button {
  max-width: 265px;
  margin-bottom: 135px;
}

.intro__buutons-wrapper {
  display: flex;
}

.intro-bottom__button {
  background-color: #FFD600;
  display: inline-block;
  background-repeat: no-repeat;
  padding: 20px;
  background-position: center center;
  border-radius: $b-radus;
  height: 70px;
}

.intro_button-left {
  background-image: url("../../img/intro-btm-left.png");
  margin-right: 9px;
}

.intro__button-right {
  background-image: url("../../img/intro-btm-right.png");
  margin-bottom: 147px;
  width: 70px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  .intro__button-right {
    background-image: url("../../img/intro-btm-right@2x.png");
  }
  .intro_button-left {
    background-image: url("../../img/intro-btm-left@2x.png");
  }
}

@media only screen and (max-width: 860px) {

  .intro__top {
    background-position: 70% center;
    // padding-top: 750px;
  }
  // .intro__text-wrapper {
  //   position: absolute;
  //   width: 100%;
  //   text-align: center;
  //   top: 100%;
  //   left: 0;
  // }

  .intro__button {
    display: none;
  }

  // .intro__heading {
  //   max-width: 100%;
  // }

  .intro__buutons-wrapper {
    // padding-top: 531px;
  }

  // .intro__button-right {
  //   margin-bottom: 30px;
  // }

  // .intro__text {
  //   margin-top: 10px;
  // }
}
