.navmenu {
  background-color: $main-link-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: $b-radus;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: translateY(50%);
}


.mobil-logo-link {
  display: none;
}

.navmenu__list {
  @include reset-list;
  display: flex;
}

.navmenu__link {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  line-height: 21px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
  margin-right: 35px;
  flex-wrap: wrap;
}

.social-network-icons {
  margin-left: auto;

}

.social__link {
  display: inline-block;
  margin-right: 13px;
  flex-shrink: 0;
}

.open-menuuu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.social__link:last-child {
  margin: 0;
}

.social-network-icon:hover {
  opacity: 0.8;
}

.social-network-icon:active {
  opacity: 0.6;
}

.open-button, .navmenu-togler {
  display: none;
}

@media only screen and (max-width: 1024px) {

  .mobil-logo-link {
    display: inline-block;
    flex-shrink: 0;
    margin-right: 15px;
  }
  .navmenu {
    position: fixed;
    // top: 50%;
    bottom: 100%;
    transform: translateY(100%);
    width: 100%;
    border-radius: 0;
  }

  body {
    margin-top: 61px;
  }

  .navmenu__list {
    margin-right: auto;
    margin-left: auto;
  }
}

@media only screen and (max-width: 850px) {

  .navmenu__list, .social-network-icons {
    display: none;
  }

  .navmenu {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 10px;
    align-items: start;
    // width: 100%;
  }

  .open-menu {
    @include reset-list;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    // background-color: #123;
  }

  .open-menu .navmenu__link {
    border-bottom: 1px solid #FFD600;
  }

  .navmenu__link {
    margin: 0;
  }

  .open-icons {
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    padding-top: 60px;
    z-index: 6;
  }

  .navmenu-togler {
    outline: none;
    display: block;
    border: none;
    background: none;
    width: 20px;
    height: 3px;
    background-color: #fff;
    box-shadow: 0 5px #fff, 0 -5px #fff;
    z-index: 2;
  }

  .open-button {
    outline: none;
    display: block;
    border: none;
    background: none;
    width: 20px;
    height: 3px;
    z-index: 2;
    background-color: #fff;
  }



  .social__link {
    display: inline-block;
    text-align: center;
  }

  .open-button {
    display: block;
  }

  .open-menuuu {
    padding-top: 30px;
    display: block;
  }

  .navmenu__item {
    width: 100%;
  }
}